html {
  scroll-behavior: smooth;
}
/* Selction Text Color highlight */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: teal;
}

::selection {
  /* Code for Firefox */
  color: white;
  background: teal;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Youtube Embed For mobile responsiveness  */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* This will work on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: teal;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(201, 76, 76, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 0px;
}

/* image Floating animtion */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
/* logo binlking animation */
.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Button Styling */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
/* borderColorGradient */
.borderColorGradient {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(20, 184, 166, var(--tw-text-opacity)),
      rgba(0, 0, 0, 0)
    )
    1 100%;
}
